//Fade transition
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


//Slide transition
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.slide-enter {
  transform: translate(100%, 0);
  transition: opacity .5s;
}

.slide-leave-to {
  transform: translate(-100%, 0);
  opacity: 0;
}

